body{
	margin: 0;
	padding: 0;
	background: url("../img/account.png");
	background-size: cover;
	background-position: absolute;
}



.formgroup{
	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	text-align: center;
}

.button{
	padding: 15px;
}

.text{
	text-align: center;
	font-style: italic;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}

.box input[type = "submit"],.box input[type = "button"]{
	padding-top: 1000px;
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	border: 1px solid #ffa500;
	text-align: center;
	padding: 10px 10px;
	width: 200px;
	outline: none;
	border-radius: 10px;
	transition: 0.25s;
	background-color: #ffb732;
	font-size: 17px;
	font-style: italic;
}